@import "systematize.min.css";

body {
  font-size: 24px;
  color: #1a1a1a;
}

main {
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
  section {
    max-width: 50%;
  }
}